/* DURAMENU BLUE COLOR */

a,
a:link,
a:visited,
a:focus {
	color: #36339e;
}

a:hover {
	color: #312f93;
}

.header-top-row a,
.header-top-row a:link,
.header-top-row a:visited {
	color: #666;
}

.header-top-row a:hover,
.header-top-row > div > ul > li:hover > a {
	color: #312f93;
}

.header-top-row > div > ul > li > ul {
	border-top: 1px solid #c7c6ec;
}

.header-central-row > div > ul > li > a .fa {
	color: #36339e;
}

div.nav-container .navbar.navbar-inverse ul.nav > li.active-shopping > a {
	/* active menu item - shopping categories */
	background: #36339e;
	color: #efefef;
}

div.nav-container .navbar.navbar-inverse ul.nav > li:hover > a,
div.nav-container .navbar.navbar-inverse ul.nav > li.active-shopping > a:hover,
div.nav-container .navbar.navbar-inverse ul.nav > li.active-shopping > a:focus,
div.nav-container .navbar.navbar-inverse ul.nav > li.active-shopping.open > a:hover,
div.nav-container .navbar.navbar-inverse ul.nav > li.active-shopping.open > a:focus {
	/* active menu item - shopping categories :hover and :focus states */
	color: #fff;
	background-color: #312f93;
}

div.nav-container .navbar ul.nav > li > ul.dropdown-menu > li > a:hover {
	background: none;
	color: #36339e;
}

span.slogan-light-price {
	background: #36339e;
	color: #fff;
}

.dropdown-menu-shopping-item-price {
	color: #36339e;
}

.carousel .dropdown-menu-shopping-item-price {
	color: #36339e;
}

div.nav-container .navbar ul.nav > li:hover > a { /* enables parent hover effect still active hovering on submenu */
    background: #312f93;
	color: #fff;
}

div.nav-container .navbar ul.nav > li > div > ul > li > div.tabbed-menu-content a:hover {
	color: #36339e;
}

.tabbed-menu-content ul li a, .dropdown-mega-content ul li a:hover {
	color: #36339e;
}

/* DURA BUTTONS */
.btn-dura {
	color: #f6f6f6;
	background-color: #36339e;
	border-color: #312f93;
}

.btn-dura:hover {
	color: #fff;
	background-color: #312f93;
	border-color: #312f93;
}

.btn-dura:focus,
.btn-dura.focus {
	color: #fff;
	background-color: #2b287d;
	border-color: #312f93;
}

.btn-dura:active,
.btn-dura.active,
.open > .dropdown-toggle.btn-dura,
.btn-dura:active:hover,
.btn-dura.active:hover,
.open > .dropdown-toggle.btn-dura:hover,
.btn-dura:active:focus,
.btn-dura.active:focus,
.open > .dropdown-toggle.btn-dura:focus,
.btn-dura:active.focus,
.btn-dura.active.focus,
.open > .dropdown-toggle.btn-dura.focus {
	color: #fff;
	background-color: #2b287d;
	border-color: #312f93;
}

.carousel-control:hover,
.carousel-control:focus {
	color: #c7c6ec;
}

.text-bold-c {
	color: #36339e;
}

.demo-content h2 {
	color: #36339e;
}