@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Roboto);

/*poner margin sino menu no aparece alineado*/
* { margin: 0; padding: 0; }

body
{  
font-family: 'Roboto', sans-serif;
    font-size: 13px;  
	line-height: 18px;
    text-align: justify;
	margin:0 auto;
	background-color:#9eac91;	
	/*background: #eeede9;*/
	/*background: url('/imagen/fondo.jpg') repeat-x, 
	-webkit-linear-gradient(top, #eeede9 0, #eeede9 500px) no-repeat;/*

	/* IE 6 y 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efeeeb', endColorstr='#a79b8d ', gradientType='1');
	/* IE 8 y 9 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#5686d5', endColorstr='#abcdf7 ', gradientType='1')";


	scrollbar-face-color:#FFFFFF;
	scrollbar-arrow-color:#00a0df
;
	scrollbar-highlight-color:#fff6eb;
	scrollbar-3dlight-color:#00a0df
;
	scrollbar-shadow-color:#00a0df
;
	scrollbar-darkshadow-color:#fff6eb;
	scrollbar-track-color:#FFFFFF;		
}

#warp{
	width:980px;
	min-width:980px;	
	margin:0px auto; 
	background-color:#e1e1e1; 
	margin-bottom:10px;
	margin-top:20px;	
	
	
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	
	
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
} 
.clear { clear:both;}

/*----------Inicio slider------*/
#ctn_slider{ margin-top:5px;}
/*----------Fin slider------*/
.ctn_estilo_col_1 {
    word-spacing: -1px;
    font-size: 1px;
    letter-spacing: -1px;
    width: 100%;/*o lo necesario*/
}

.estilo_col_1 {
    display: inline-block;
	float:left;	 /*importante para que se alinee horizontalmente*/
    word-spacing: normal;
    font-size: 12px;/*u otra unidad para IE8 y -*/
    letter-spacing: normal;
    white-space: normal;
    width: 30%;/*El valor necesario*/
	padding: 5px 5px;
	margin-left: 10px;
	border: 1px solid #DDD;
	height:230px;
}

/*----- cabeceraenlace.php ----*/
A:link { color: #0066ac }       /* vínculos no visitados */
A:visited { color: blue }   /* vínculos visitados */
A:active { color: lime }    /* vínculos activos */
/*----- cabeceraenlace.php ----*/

.estilo_col_1 .titulo {
padding: 8px 10px;
color: #555;
text-shadow: 1px 1px 1px white;
letter-spacing: 1px;
border-bottom: 1px solid #DDD;
background-color: #fae3b6;
text-transform: uppercase;
margin: 0;
text-align: center;
font-weight: bold;
}
.estilo_col_1  .detalle {
font-size: 13px;
color: #20211c;
text-align: justify;
margin-top: 15px;
}

.colorprecio{color: #900;}
.color_1{color: #900;}
.background_1{ background:#426fd9;}
hr { width: 100%;border: 1px solid #71a73e; margin-bottom:10px;}
h1 {
color: #e64c0f;
font-size: 1.4em;
font-family: 'Oswald',Arial,Verdana,sans-serif;
word-spacing: normal;
font-weight: normal;
margin-top: 10px;
margin-bottom: 10px;
}
p{ margin: 10px 0 0px 0;}
h2{
color:#e3291d;
}	
header, footer, aside, nav, article, section, form { display: block; }
header#cabecera{padding-top:0px;text-align: center;}
header#cabecera .ctnlogo{
	padding-top:0px;
	text-align: center;	
	clear:both; 
	width:100%;	
	background-color:#e1ded9;
	
	-webkit-border-top-left-radius: 11px;
	-webkit-border-top-right-radius: 11px;
	-moz-border-radius-topleft: 11px;
	-moz-border-radius-topright: 11px;
	border-top-left-radius: 11px;
	border-top-right-radius: 11px;
}
header#cabecera .izqlogo{float:left;width:25%; margin-top:5px;text-align: left; margin-left:10px;}
header#cabecera .derelogo{float: left;width: 73%;text-align: left;}
header#cabecera .derelogo .atencioncli{ float: left;width: 100%;text-align: left;padding-top: 20px;}
header#cabecera .derelogo .redes{ float: right;width: 100%;text-align: right;padding-top: 5px;margin-bottom: 5px;}
header#cabecera .derelogo .redes img{ float:right; }
header#cabecera .derelogo .redes .textoredes{ float: left;width: 80%;text-align: right;padding-top: 5px;}

header#cabecera .menu{float: left;}

	
/* ---------------- Inicio Menu ----------------*/
ul#cabmenu { 
	margin:0 auto;
	width:100%;		
	padding: 0px; /* aqui se ponen los margenes para separacion*/ 
	list-style: none; 
	position: relative; 
	z-index:199;
	background-color:#eda619; /*no es el fondo del 1nivel*/
}


ul#cabmenu ul {
 width: 160px; /* Sub Menu Width */
 margin: 0;
 list-style: none;
 display: none;
 position: absolute;
 top: 100%;
 left: 0; 
 
}

ul#cabmenu ul ul,ul#cabmenu ul ul ul { top: 0; left: 100%; }

ul#cabmenu li { float: left;display: inline;position: relative;
	
	}
ul#cabmenu ul li { width: 100%; display: block;}

/* Root Menu */
ul#cabmenu a {
	padding-top: 10px;
	float: left;
	display: block;	
	font-family: 'Lucida Sans', sans-serif, verdana, arial, helvetica;
	font-weight:bold;
	font-size: 1em;
	font-variant: small-caps;
	text-align:center;
	height:34px; /*alto del 1er nivel */
	width:163px;   /*Aqui disminuir para el ancho del menu*/
	background-color: #26661e;   /*color del fondo del menu 1*/
	color:#ffffff;	/*color de la letra del menu 1*/
	/*background-color:#ffffff;* alex/
	/*background-image:url('planjuvame/menusup.jpg');alex*/ 	
	/*color:#ffffff;*/
}

/* Root Menu Hover Persistence */
ul#cabmenu a:hover,ul#cabmenu li:hover a,ul#cabmenu li.iehover a {
	background-color:#bdd287;      /*---------Color fondo del menu al psar mouse 1nivel*/
	/*background-image:url('images/menusupactive.jpg');*/	 /*imagen de fondo al psar mouse 1nivel y fondo del 2do nivel */
	color: #333;
	font-size:13px;
	font-weight:bold;	
	height:34px; /*alto del 2do nivel tiene que ser = que el alto del 1er nivel */
}
/* 2nd Menu */
ul#cabmenu li:hover li a,ul#cabmenu li.iehover li a {
	float: none;
	text-align:left;
	padding-left:10px;
	background-color:#749629; /*plomo*/
	/*background-image:url('images/menusupdos.jpg'); */ /*bagorund del 2nd nivel*/
	color: #FFF; /*color de la letra del menu 2*/
	border-left:#71a73d solid 1px; /*verde*/
	border-right:#71a73d solid 1px; /*verde*/
	width:220px; 
}

/* 2nd Menu Hover Persistence */
ul#cabmenu li:hover li a:hover,ul#cabmenu li:hover li:hover a,ul#cabmenu li.iehover li a:hover,ul#cabmenu li.iehover li.iehover a {
	background-color:#bdd287;
	/*background-image:url('images/menusupdosactive.jpg');*/  /* fondo de 2nivel psar mouse*/
	color: #000  ; 
	border-left:#117fc7 solid 1px;
	font-weight:bold;
}

/* 3rd Menu */
ul#cabmenu li:hover li:hover li a,ul#cabmenu li.iehover li.iehover li a {
	background-color:#d0d0d0;
	/*background-image:url('images/menusupdos.jpg');*/
	color:#323232;
	border-left:#117fc7 solid 1px;
	margin-left:70px; /*Separacion del 2do Nivel juega con width del 2do nivel*/
}

/* 3rd Menu Hover Persistence Al pasar el mouse 3 nivel*/ 
ul#cabmenu li:hover li:hover li a:hover,ul#cabmenu li:hover li:hover li:hover a,ul#cabmenu li.iehover li.iehover li a:hover,ul#cabmenu li.iehover li.iehover li.iehover a {
	background-color:#0066ac;
	/*background-image:url('images/menusupdosactive.jpg');*/
	color:#ffffff;
	border-left:#117fc7 solid 1px;
}

/* 4th Menu */
ul#cabmenu li:hover li:hover li:hover li a,ul#cabmenu li.iehover li.iehover li.iehover li a {
	background-color:#ffffff;
	background-image:url('images/menusupdos.jpg');
	color:#ffffff;
}

/* 4th Menu Hover */
ul#cabmenu li:hover li:hover li:hover li a:hover,ul#cabmenu li.iehover li.iehover li.iehover li a:hover {
	background-color:#ffffff;
	background-image:url('images/menusupdosactive.jpg');
	color:#ffffff; 
}

/* Hover Function - Do Not Move */
ul#cabmenu li:hover ul ul,ul#cabmenu li:hover ul ul ul,ul#cabmenu li.iehover ul ul,ul#cabmenu li.iehover ul ul ul { display: none; }
ul#cabmenu li:hover ul,ul#cabmenu ul li:hover ul,ul#cabmenu ul ul li:hover ul,ul#cabmenu li.iehover ul,ul#cabmenu ul li.iehover ul,ul#cabmenu ul ul li.iehover ul { display: block; }

/* ---------------- Fin Menu ----------------*/

/* ---------------- Inicio Menu Pie ----------------*/

#menuabajo
{
	list-style: none;
	padding: 0;
	margin: 0 auto;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;	
	clear:both;
}
#menuabajo li
{
	display: block;
	float: left;
	max-width: 120px;
	margin: 0;
	padding:0px;
}
#menuabajo li a
{
	display: block;
	max-width: 100%;
	padding-top:5px;
	height:20px;
	
	font-family: 'Lucida Sans', sans-serif, verdana, arial, helvetica;
	font-weight:bold;
	font-size: 1em;
	font-variant: small-caps;
	color:#ffffff;
	text-align:center;
}
#menuabajo li a { width: auto; }
#menuabajo li#active a
{
	color:#191919;
	background:#ffffff ;
}
#menuabajo li a:hover, 	#menuabajo li#active a:hover
{
	color:#191919;
	background:#ffffff ;
}


/* ---------------- Fin Menu Pie ----------------*/


/* ---------------- inicio Menu lateral ----------------*/
#menuvertical {
	text-align: left;
	font-family : Verdana, Helvetica, sans-serif; 
	font-size : 12px; 
	width:100%;
	margin-bottom:25px;
}
#menuvertical li#menuizqtitulo 
{
	height:40px;
	width:200px;	
	background-color:#5485d5;
}
#menuvertical li#menuizqtitulo p
{
	color:#ffffff;
	margin-top:10px;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	font-size: 1.1em;
	text-align:center;
	padding:10px 0px;	
	text-shadow: 1px 1px 1px black;
	letter-spacing: 2px;
}

#menuvertical ul { list-style-type: none; padding:0;}
#menuvertical ul li.nivel1 {
width: 200px; /* Ancho de las pestañas */
}
#menuvertical ul li.primera {
border-top: solid 1px #FFF; /* Borde superior de la primera pestaña */
}
#menuvertical ul li {padding:0;}
#menuvertical ul li a {
display: block;
text-decoration: none;
color: #fff; /* Color del texto */
background-color: #e5794c; /* Color de fondo */
border: solid 1px #a14829; /* Borde de las pestañas */
border-top: none;
padding: 8px;
position: relative;
}
#menuvertical ul li:hover {
position: relative;
color: #000000; /* Color del texto al pasar el mouse */
}
#menuvertical ul li a:hover, #menuvertical ul li:hover a.nivel1 {
background-color:#c8c6c6; /* Color de fondo al pasar el mouse */
color: #000;
position: relative;
}
#menuvertical ul li a.nivel1 {
display: block!important;
display: none;
position: relative;
}
#menuvertical ul li ul {
display: none;
}
#menuvertical ul li a:hover ul, #menuvertical ul li:hover ul {
display: block;
position: absolute;
left: 200px;
top:-1px!important;
top:-31px;
}
#menuvertical ul li ul li a {
width: 160px;
background-color: #ee2f2c; /* Color de fondo subpestañas */
color: #fff; /* Color del texto subpestañas */
}
#menuvertical ul li ul li a:hover {
position: relative;
background-color: #c8c6c6; /* Color de fondo al pasar el mouse subpestañas */
color: #000; /* Color del texto al pasar el mouse subpestañas */
/*font-weight: bold;*/
}
.handcursor {cursor:hand;
cursor:pointer;
}
.handcursor1 {cursor:hand;
cursor:pointer;
}
/* ---------------- Fin Menu lateral ----------------*/





/* ---------------- Inicio nivo-slider.css ----------------
#slider1 {
	position:relative;
	background:url(/include/css/imagen/slider-nivo/loading.gif) no-repeat 50% 50%;
}
#slider1 img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#slider1 a {
	border:0;
	display:block;
}

#slider1 {
	position:relative;
	background:url("/include/css/imagen/slider-nivo/loading.gif") no-repeat 50% 50%;
}
#slider2 img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#slider2 a {
	border:0;
	display:block;
}

.nivo-controlNav {
	position:absolute;
	left:10px;
}
.nivo-controlNav a {
	display:block;
	max-width:22px;
	height:22px;
	background:url("/include/css/imagen/slider-nivo/bullets.png") no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.nivo-controlNav a.active {background-position:0 -22px;}

.nivo-directionNav a {
	display:block;
	max-width:30px;
	height:30px;
	background:url("/include/css/imagen/slider-nivo/arrows.png") no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
a.nivo-prevNav {
	left:15px;
}

.nivo-caption {
    text-shadow:none;
    font-family: Helvetica, Arial, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#000;
}
.nivo-caption a { 
    color:#efe9d1;
    text-decoration:underline;
}

.clear {clear:both;}
/* ---------------- Fin nivo-slider.css---------------- */

/* ---------------- Inico Slider jFlow ---------------- */
	/* se encuentra en la misma pagina jFlow/propaganda-cambiante.php  hay que sacaralo y ponerlo aqui
	 ademas se carga desde funciones_web.php  function contenidosweb*/
/* ---------------- Fin Slider jFlow ---------------- */


footer#PiePrincipal
{
	width: 970px;
	height: auto;/*125px*/		
	padding: 5px 5px;
	clear:both;
	margin:0 auto;    
   	background-color:#286A20;
	margin-bottom: 10px;  
	
	 box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	-moz-border-radius: 11px;     	/*(firefox)*/
	-webkit-border-radius: 11px;   /*(chrome,safari)*/
	-O-border-radius: 11px;   /*(opera)*/		
	/* IE 6 y 7 */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1ded9', endColorstr='#e1ded9', gradientType='1');
/* IE 8 y 9 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1ded9', endColorstr='#e1ded9', gradientType='1')";
 		
}
/* ---------------- para Internet Explorer  revisar porque tambien hay ctn_gral_columnacentro----------------*/


#cuerpo {
    overflow: hidden;
    margin: 0px auto 0px auto;
	padding:0px;
	height: auto !important;
	width:970px;
	max-width:980px;
	background-color: #e1e1e1;	
	padding-top:5px;	
}	
	
#ladoizquierda{
	max-width:200px; /*200 cuando se muestran los 3 y 240 solo 2*/
	width:200px;
	float: left;
	padding:0px;
    text-align: left;
	margin-left:5px;
	margin-bottom:10px;
}
#ladocentro {
	max-width:530px; /*580 cuando se muestran los 3 y 690 solo 2*/
	width:530px;
	padding-right: 0px;
	padding-left: 15px;
	float: left;
	margin-bottom:10px;	
}
#ladocentro_soloizqui { /*cuando se muestra solo el lado izquierdo y el centro*/
	max-width:730px; /*580 cuando se muestran los 3 y 690 solo 2*/
	width:730px;
	padding-right: 0px;
	padding-left: 15px;
	float: left;
	margin-bottom:10px;	
}
#ladocentro_solodere { /*cuando se muestra solo el lado derecho y el centro*/
	width:750px;
	max-width:750px; /*580 cuando se muestran los 3 y 690 solo 2*/
	padding-right: 5px;
	float: left;
	margin-bottom:10px;	
}
	
#columnaizquierda{
	max-width:200px; /*200 cuando se muestran los 3 y 240 solo 2*/
	float: left;
	padding:0px;
    text-align: left;
	margin-left:5px;
	margin-bottom:10px;
}

#columnaderecha {
	width:200px;	
	max-width:200px; /*200 cuando se muestran los 3 y 240 solo 2*/
	float: right;
	padding:0px;
    text-align: left;
	margin-right:10px;
	margin-bottom:10px;
}


#columnacentro {
	max-width:550px; /*580 cuando se muestran los 3 y 690 solo 2*/
	padding-right: 0px;
	padding-left: 15px;
	float: left;
	margin-bottom:10px;	
}
#columnacentro_soloizqui { /*cuando se muestra solo el lado izquierdo y el centro*/
	max-width:750px; /*580 cuando se muestran los 3 y 690 solo 2*/
	padding-right: 0px;
	padding-left: 15px;
	float: left;
	margin-bottom:10px;	
}
#columnacentro_solodere { /*cuando se muestra solo el lado derecho y el centro*/
	max-width:750px; /*580 cuando se muestran los 3 y 690 solo 2*/
	padding-right: 15px;
	float: left;
	margin-bottom:10px;	
}

#ctn_gral_columnacentro {
	max-width:100%;
	padding-right: 0px;
	padding-left: 15px;	
	margin-bottom:10px;	
}

#ladoderecha {
	max-width:200px; /*200 cuando se muestran los 3 y 240 solo 2*/
	float: right;
	padding:0px;
    text-align: left;
	margin-right:10px;
	margin-bottom:10px;
}

#webencabezado {
	height:45px;
    margin: 0px auto 0px auto;		
	margin-right:20px;
	margin-left:20px;
	text-align:left;
}
#webencabezado .miga {
	padding-top:10px;
	border-bottom:#000000 dashed 1px;
}

#piecontenido
{
	overflow: hidden;
    margin: 0px auto 0px auto;
	padding:0px;
	width:980px;	
} 

/* inicio breadcrumbs */
a.breadCrumb {
color: #6ca336;
font-weight: bold;
font-size: 14px;
}
a.breadCrumb:visited {
text-decoration: none;
color: #A33641;
}

img.breadCrumbIMG {
margin-left: 5px;
margin-right: 5px;
width: 11px;
height: 9px;
}
/* fin breadcrumbs */


#webcontenido {margin-left:5px;margin-right:5px;margin-top:0px;}
#webcontenido h1 {text-align:center; line-height:20px;}

/************ Paginacion de contenidos paginator.class ******************/
.cnt_paginacion{	
	padding-top:20px;
	padding-bottom:20px;
	text-align:center; 
	margin:0 auto;
	clear:both;
}
.paginate {
font-family: Arial, Helvetica, sans-serif;
font-size: .9em;
}
a.paginate {
border: 1px solid #000080;
padding: 2px 6px 2px 6px;
text-decoration: none;
color: #000080;
}
a.paginate:hover {
background-color: #000080;
color: #FFF;
text-decoration: underline;
}
a.current {
border: 1px solid #000080;
font: bold .9em Arial,Helvetica,sans-serif;
padding: 2px 6px 2px 6px;
cursor: default;
background:#000080;
color: #FFF;
text-decoration: none;
}
span.inactive {
border: 1px solid #999;
font-family: Arial, Helvetica, sans-serif;
font-size: .9em;
padding: 2px 6px 2px 6px;
color: #999;
cursor: default;
}
/************ Paginacion de contenidos  paginator.class******************/


/************ Paginacion de contenidos  ******************/
div.paginacion {
	padding-top:11px;
	padding-bottom:11px;
	height:30px;
	text-align:center;
	clear:both;
}

div.paginacion a {
	font-weight:bold;
	color:#0030ce;
	text-decoration:none;
	padding:5px 6px 4px 5px;
	margin:0 3px 0 3px;
	border:1px solid #b7d8ee;
	height:25px;
}

div.paginacion a:hover, div.paginacion a:active {
	color:#ed7b1d;
	border:1px solid #b7d8ee;
	background-color:#d2eaf6;
}
div.paginacion span.current {
	padding:5px 6px 4px 5px;
	margin:0 3px 0 3px;
	border:1px solid #b7d8ee;
	font-weight:bold;
	color:#444444;
	background-color:#d2eaf6;
	height:20px;

}
div.paginacion span.disabled {
	display:none;
}
/* ---------------- Fin Paginacion de contenidos ----------------*/

/* ---------------- Inicio enlaces ----------------*/
 
 /* --- LINKS--- */
a:visited {	text-decoration: none;color: #039; font-weight:bold;}
a{text-decoration:none;	color: #039;} 
a:hover {color: #f31a1a;}
/* --- LINKS--- */

/* ---------------- Fin enlaces ----------------*/


.side {
	max-width: 250px;
	border: 2px solid #cc3300;
	background-color: #F6FAFA;
	margin-top: 10px;
	padding-bottom: 5px;
	font-size: 12px;
	color: #777777;
	text-align: center;
	box-shadow: #aaa 0 0 10px;
	border-radius: 10px;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-O-border-radius: 11px;
}
.side h3 {
	border-bottom: 1px solid #DEEBEB;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: -1px;
	color: #e73f3f;
}

/* ---------------- Inicio Abrevituras ---------------- */
.clear_both {clear:both;}  
 
.t10 {font-size: 10px;}  
.t11 {font-size: 11px;}  
.t12 {font-size: 12px;}  
.t13 {font-size: 13px;}  
.t14 {font-size: 14px;} 
.t15 {font-size: 15px;} 
.t16 {font-size: 16px;} 
.t17 {font-size: 17px;} 
.t18 {font-size: 18px;} 
.t20 {font-size: 20px;} 
.t22 {font-size: 22px;} 
.t24 {font-size: 24px;} 
.t26 {font-size: 26px;} 

.Azul{color: #336699;}
.Azul-1{color: #0073c8;}
.black{color : #29292e;} /*negro */
.celeste {color: #3486ae;}
.naranja{color : #ff6600;} 
.plomo{color : #4B5459;} 
.white{color : #ffffff;} /*blanco*/
.verde_mar{color : #4ba541;} 
.verde_claro{color : #a7d34b;} 
.red {color: red;}
.indianred{color: #cc6666;}
.violeta{color: #7183bc;}

.bold{font-weight: bold;} 

.center{text-align:center;}
.justi{text-align: justify;}
.left{text-align: left;}
.right{text-align: right;}

 .text_decora_line_through{
    text-decoration: line-through;
  }  
  
.w_10{width:10px;}
.w_20{width:20px;}
.w_30{width:30px;}
.w_40{width:40px;}
.w_50{width:50px;}
.w_60{width:60px;}
.w_70{width:70px;}
.w_80{width:80px;}
.w_90{width:90px;}
.w_100{width:100px;}
.w_110{width:110px;}
.w_120{width:120px;}
.w_130{width:130px;}
.w_140{width:140px;}
.w_150{width:150px;}
.w_200{width:200px;}
.w_210{width:210px;}
.w_220{width:220px;}
.w_230{width:230px;}
.w_240{width:240px;}
.w_250{width:250px;}
.w_260{width:260px;}
.w_270{width:270px;}
.w_280{width:280px;}
.w_290{width:290px;}
.w_300{width:300px;}
.w_310{width:310px;}
.w_320{width:320px;}
.w_330{width:330px;}
.w_340{width:340px;}
.w_350{width:350px;}
.w_400{width:400px;}
.w_410{width:410px;}
.w_420{width:420px;}
.w_430{width:430px;}
.w_440{width:440px;}
.w_450{width:450px;}
.w_500{width:500px;}
.w_600{width:600px;}
.w_700{width:700px;}
.w_800{width:800px;}
.w_840{width:840px;}
.w_860{width:860px;}
.w_880{width:880px;}
.w_900{width:900px;}
.w_930{width:930px;}

.h_10{	 height:10px;}
.h_15{	 height:15px;}
.h_20{	 height:20px;}
.h_25{	 height:25px;}
.h_30{	 height:30px;}
.h_35{	 height:35px;}
.h_40{	 height:40px;}
.h_50{	 height:50px;}
.h_60{	 height:60px;}
.h_70{	 height:70px;}
.h_80{	 height:80px;}
.h_90{	 height:90px;}
.h_100{ height:100px;}
.h_110{ height:110px;}
.h_120{ height:120px;}
.h_150{ height:150px;}
.h_200{ height:200px;}
.h_210{ height:210px;}
.h_220{ height:220px;}
.h_230{ height:230px;}
.h_240{ height:240px;}
.h_250{ height:250px;}

.m_centrar_hori{
	margin:0 auto;
}

.m_l_5{margin-left:5px;}
.m_l_10{margin-left:10px;}
.m_l_15{margin-left:15px;}
.m_l_20{margin-left:20px;}
.m_l_25{margin-left:25px;}
.m_l_30{margin-left:30px;}
.m_l_35{margin-left:35px;}
.m_l_40{margin-left:40px;}
.m_l_45{margin-left:45px;}
.m_l_50{margin-left:50px;}
.m_l_55{margin-left:55px;}
.m_l_65{margin-left:65px;}
.m_l_75{margin-left:75px;}
.m_l_85{margin-left:85px;}
.m_l_95{margin-left:95px;}
.m_l_120{margin-left:120px;}
.m_l_130{margin-left:130px;}
.m_l_150{margin-left:150px;}
.m_l_160{margin-left:160px;}
.m_l_170{margin-left:170px;}
.m_l_180{margin-left:180px;}
.m_l_190{margin-left:190px;}
.m_l_200{margin-left:200px;}
.m_l_355{margin-left:355px;}
.m_l_705{margin-left:705px;}

.m_r_5{margin-right:5px;}
.m_r_15{margin-right:15px;}
.m_r_25{margin-right:25px;}
.m_r_35{margin-right:35px;}
.m_r_45{margin-right:45px;}
.m_r_55{margin-right:55px;}
.m_r_65{margin-right:65px;}
.m_r_75{margin-right:75px;}
.m_r_100{margin-right:100px;}
.m_r_120{margin-right:120px;}

.m_top_2{margin-top:2px;}
.m_top_3{margin-top:3px;}
.m_top_4{margin-top:4px;}
.m_top_5{margin-top:5px;}
.m_top_6{margin-top:6px;}
.m_top_7{margin-top:7px;}
.m_top_8{margin-top:8px;}
.m_top_9{margin-top:9px;}
.m_top_10{margin-top:10px;}
.m_top_15{margin-top:15px;}
.m_top_20{margin-top:20px;}
.m_top_30{margin-top:30px;}
.m_top_40{margin-top:40px;}
.m_top_50{margin-top:50px;}
.m_top_60{margin-top:60px;}
.m_top_60{margin-top:60px;}
.m_top_70{margin-top:70px;}
.m_top_100{margin-top:100px;}
.m_top_120{margin-top:120px;}

.m_b_2{margin-bottom:2px;}
.m_b_3{margin-bottom:3px;}
.m_b_4{margin-bottom:4px;}
.m_b_5{margin-bottom:5px;}
.m_b_10{margin-bottom:10px;}
.m_b_15{margin-bottom:15px;}
.m_b_20{margin-bottom:20px;}
.m_b_25{margin-bottom:25px;}
.m_b_30{margin-bottom:30px;}

.lne_h_5{line-height: 5pt;}
.lne_h_10{line-height: 10pt;}
.lne_h_15{line-height: 15pt;}
.lne_h_20{line-height: 20pt;}
.lne_h_23{line-height: 23pt;}
.lne_h_30{line-height: 30pt;}
.lne_h_40{line-height: 40pt;}
.lne_h_50{line-height: 50pt;}
.lne_h_60{line-height: 60pt;}
.lne_h_70{line-height: 70pt;}
.lne_h_80{line-height: 80pt;}
.lne_h_90{line-height: 90pt;}
.lne_h_100{line-height: 100pt;}

.letter_spa_1 {letter-spacing: 1pt;}

.pding_r_5{ padding-right:5px;}
.pding_r_10{ padding-right:10px;}
.pding_r_15{ padding-right:15px;}
.pding_r_20{ padding-right:20px;}
.pding_r_25{ padding-right:25px;}

.pding_l_5 {padding-left:5px;}
.pding_l_10{padding-left:10px;}
.pding_l_20{padding-left:20px;}
.pding_l_30{padding-left:30px;}
.pding_l_40{padding-left:40px;}

.pding_top_5{padding-top:5px;}
.pding_top_10{padding-top:10px;}
.pding_top_15{padding-top:15px;}
.pding_top_20{padding-top:20px;}
.pding_top_25{padding-top:25px;}
.pding_top_30{padding-top:30px;}
.pding_top_35{padding-top:35px;}
.pding_top_40{padding-top:40px;}

.pding_b_5{ padding-bottom:5px;}
.pding_b_10{ padding-bottom:10px;}
.pding_b_15{ padding-bottom:15px;}
.pding_b_20{ padding-bottom:20px;}
.pding_b_25{ padding-bottom:25px;}
.pding_b_30{ padding-bottom:30px;}
.pding_b_35{ padding-bottom:35px;}

.position-rela{ position:relative;}
.position-abso{ position:absolute;}
.position-sta  { position: static;}

.float_l{float:left;}
.float_r{float: right;}
.float_centrar { margin:0 auto;}	

.font_weight_200 {font-weight: 200;}

/* ---------------- Fin Abrevituras ---------------- */

/* --------------------------------- Inicio Contactenos -----------------*/
.ctn_contactos {
  max-width:100%;
  margin: 0 auto; 
  color:#333;
}
.ctn_contactos .iz_contac_container {
  float:left;			
 height:450px;
 width:65%;
}
.ctn_contactos .der-container {
  width:30%;
  float:right;
  margin-left:15px;
  margin-right:15px;	
  border: 1px solid #DDD;	
  background: #fff;
  height:489px;
}	
.ctn_contactos .der-container h2{
	padding: 8px 10px;
	color: #ffffff;
	text-shadow: 1px 1px 1px black;
	letter-spacing: 1px;
	border-bottom: 1px solid #DDD;
	background-color:#737b42 ;
	text-transform: uppercase;
	margin:0 auto;
	font-size:14px;
	text-align:center;
	
}	
.ctn_contactos .der-container .contenido{
	padding: 10px;
}

	form, button{border:0; margin:0; padding:0;}
	.spacer{clear:both; padding-bottom:1px;}
	/* ———– My Form ———– */
	.myform{
		margin:0 auto;
		max-width:580px;
		padding:14px;
	}
	/* --- ———– stylized ———– */
	#stylized{ border:solid 2px #DDD;background: #F2EFEE;height: 460px;}
	#stylized h1,h2,h3,h4 {	
		margin-bottom:8px;
		margin: 5px 0;
		line-height: 1.3em;
		padding-left: 5px;
	}
	#stylized h1 {font-size:22px;}
	#stylized h2 {color:#B3876A;font-size:14px;text-align:center;}	
	#stylized h4 {font-size: 22px;}
	#stylized p{font-size:11px;color:#666666;padding-bottom:10px;}
	#stylized label{
		display:block;
		font-weight:bold;
		text-align:right;
		width:140px;
		float:left;
		margin-right: 40px;
		margin-top: 5px;
	}
	#stylized .imagen{float:left;margin:5px;width:20%;}
	#stylized .texto{float:left; margin-left:15px;width:75%; text-align: justify; color:#FFF; font-weight:bold}
	#stylized .small{
		color:#666666;
		display:block;
		font-size:11px;
		font-weight:normal;
		text-align:right;
		max-width:140px;
	}
	#stylized input{
		float:left;
		font-size:12px;
		padding:4px 2px;
		border:solid 1px #aacfe4;
		max-width:360px;
		margin:2px 0 10px 10px;
	}
	#stylized textarea{
		float:left;
		font-size:12px;
		padding:4px 2px;
		border:solid 1px #aacfe4;
		max-width:360px;
		margin:2px 0 20px 10px;
	}	
	#stylized button{
		clear:both;
		margin-left:290px;
		width:125px;
		height:31px;
		background:#666666 url(img/button.gif) no-repeat;
		text-align:center;
		line-height:31px;
		color:#FFFFFF;
		font-size:11px;
		font-weight:bold;
	}		

  input:focus:required:invalid {
	  /*background-color:yellow;*/
	}
    input:focus:required:valid {
	}
	

	ul li {
		padding: 0;
		margin: 0;
	}
	ul.lists {
		padding: 5px 0;
		list-style: none;
		margin: 0;
	}
	ul.lists a{
		color: #2A7b99;		
	}	
	ul.lists li {
		position: relative;
		padding-left: 25px;
		line-height: 25px;
	}
		
	ul.lists li .icon {
		width: 16px;
		height: 16px;
		display: block;
		position: absolute;
		left: 4px;
		top: 5px;
		background-image: url(/modulos/contactenos/imagen/jf-list.gif) ;
		background-repeat: no-repeat;
		background-position: 0 0;
	}
	ul.lists li.mail .icon {background-position: -288px 0;}
	ul.lists li.location .icon {background-position:-79px -32px	}	
	ul.lists li.iphone .icon {background-position: -64px -32px;}
	ul.lists li.chart .icon {background-position:-272px -32px;}	
	
/* --------------------------------- Fin Contactenos -----------------*/


/* --------------------------------- Inicio Clase Presentacion  
									 tabla estiloclases-----------------*/
									 
#contenido {   /*utilizado por pie */
	width: 95%;
	padding: 15px;
	margin: 0 auto;	
}
#contenido .contenido_titulo {
	clear: both;
	height: 20px;
	margin-top: -35px;
	margin-bottom: 10px;
	padding-bottom: 15px;
	text-align:center;
	color:#FFF;	
}
#contenido .contenido_detalle {
	width:100%;
	padding:0px 5px;	 
}

#contenido article {
		clear: both;
		padding-top: 20px;
		border-top: 1px solid #e9e9e9;
		margin: 0 5px;
	}
#contenido article .r {max-width: 60%;float: right;}
#contenido article img {
	float: left;
	background-color: #F2F2F1;
	border: 1px solid #e9e9e9;
	padding: 6px;
	margin: 4px 0 10px;
	max-width: 30%; 
	height: 250px;
	-webkit-transition:.2s;
	-moz-transition:.2s;
}
#contenido article:hover img {
	-webkit-transform:scale(1,1);
	-moz-transform:scale(1,1);		
}
#contenido article h2 {font-size: 2em;font-weight: normal;margin-bottom: 10px;text-align: center;}
#contenido article h2 a {	color: #212121;text-decoration: none;}
#contenido article p {line-height: 1.6em;margin-bottom: 10px;text-align: justify;font-family: Arial;}

#contenido .postnav {clear: both;padding-top: 20px;font-weight: bold;}
#contenido .postnav a {	text-decoration: none;}



#inicio{
	width: 98%;	
	display: block;
	text-align: center;	
	line-height: 30px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	clear:both;
}
#inicio .inicio_titulo{
	height: 30px;
	border: 1px solid #395d9b;
	border-radius: 5px;	
	background: #d62020;
	box-shadow: 0 0 0 3px #FFFFFF;
	
}
#inicio .inicio_titulo h2{
	color: #FFF;font-size: 14px;
		font-weight: bold;margin: 5px 0;
}

#inicio .inicio_detalle{ margin-top:10px; }

#portada {
width: 99%;
border-radius: 11px;
-moz-border-radius: 11px;
-webkit-border-radius: 11px;
margin: 0 auto;
padding:10px 5px;
margin-bottom: 15px;
margin-top: 7px;
clear:both;
}
#portada .portada_titulo{
background-color: #93b5bd;
color: #000;
margin-bottom: 5px;
padding: 5px;
height: 22px;
border: #93b5bd 1px solid;
text-align: center;
font-weight: bold;
-webkit-border-radius: 11px;
border-radius: 11px;
}
#portada .portada_detalle{
	
}

#portada-laterales {
	width: 99%;
	border: 2px solid #737b42;
	background-color: #F6FAFA;
	box-shadow: #aaa 0 0 10px;
	
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	margin: 0 auto;
	padding:10px 2px 5px 2px;
	margin-bottom: 15px;
	border-top: 30px solid #737b42;
	border-bottom:1px solid #737b42;
	margin-top:10px;
}
#portada-laterales .portada-laterales_titulo{
clear: both;
height: 20px;
margin-top: -53px;
margin-bottom: 10px;
padding-bottom: 15px;
text-align:center;
color:#FFF;	
}
#portada-laterales .portada-laterales_detalle {
	width:100%;	
	margin-top:-15px;
	text-align:center;		 
}
#portada-laterales h2{
	color:#FFF; font-size:12px; padding-top:4px;
	margin-bottom:8px;
	margin: 20px 0;
	line-height: 1.3em;
	padding-left: 5px;
}
#saludos {
width: 99%;
margin: 0 auto;
margin-bottom: 15px;
}
#saludos .saludos_titulo{
clear: both;
/*height: 20px;error al poner br*/
margin-bottom: 10px;
padding-bottom: 10px;
text-align:center;
color:#5096c6;	
}
#saludos .saludos_detalle {width:100%;margin-top:-15px;}

#vacio{
	width: 100%;
	margin: 0 auto;
	padding: 0px 0px;
	margin-bottom: 14px;
	clear: both;
	height:auto;
	margin-top: -10px;
}
#vacio p{ margin-top:0px;}
.vacio_detalle{}

.cong_lista {
 width:100%;
  margin:0 auto;
  clear: both;
  text-align: center;
}		
.stylo_col_4 {
    display: inline-block;
	float:left;	 /*importante para que se alinee horizontalmente*/
	padding-top:5px;
	font-weight:bold;
	font-size:12px;
    word-spacing: normal;
	text-align:center;	
   	width: 23%;	
	margin-left: 10px;
	height: 35px;
	border: 1px solid #cddced;
	background: #f7f7f7;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.stylo_col_4:hover {border:2px solid #2caad0;color:#e32b2b;}

.fondocate {
	display:block;			
	float: left;
	margin: 0px 0px 10px 10px;
	width: 160px;
	height: 180px;
	color: #121212;
	background-color: #A14829;		
	border-radius: 15px;	
	font-family:arial,helvetica,sans-serif;	
}
.fondocate_vacio { /*se creo para crear espacio en blanco*/
	display:block;			
	float: left;
margin: 0px 30px 10px 40px;
	width: 160px;
	height: 180px;			
	font-family:arial,helvetica,sans-serif;	
}

.fondocate .titulo {	
	background-color: #F1F1F1;
	background: #eeeeee;
	background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee));
	background: -webkit-linear-gradient(top, #eeeeee 0%,#eeeeee 100%);
	background: -o-linear-gradient(top, #eeeeee 0%,#eeeeee 100%);
	background: -ms-linear-gradient(top, #eeeeee 0%,#eeeeee 100%);
	background: linear-gradient(to bottom, #eeeeee 0%,#eeeeee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 );
	background-repeat: repeat-x;
	border: 1px solid #BDBDBD;
	border-radius: 15px 15px 0 0;
	height: 30px; /* h4 ver line-height*/
	margin: 0 auto;
	width: auto;
}
.fondocate h4 {
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px; /* cabecera ver height*/
  margin: 0;
  text-align: center;
  text-shadow: 0 1px 0 #FFFFFF;
}
.fondocate img {border: 2px solid #ffffff;} /*le da un borde a las imagenes*/
.fondocate .imagen{width:150px;margin:0 auto;margin-top:10px;text-align: center;}	


.art_listado_01 {
	display:block;			
	float: left;
	margin: 0px 30px 10px 40px;
	width: 160px;
	height: 190px;
	font-family:arial,helvetica,sans-serif;	
	text-align: center;
	border: 1px solid #634444;
}
.art_listado_01 .imagen{ margin:0 auto;height: 190px;}

.art_listado_01_vacio { /*se creo para crear espacio en blanco*/
	display:block;			
	float: left;
	margin: 0px 30px 10px 40px;
	width: 160px;
	height: 180px;	
	text-align: center;	
}

.art_listado_01 .titulo {	
	/*background-color: #f5f5f5;*/
	margin-bottom:10px;
}
.art_listado_01 h4 {
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px; /* cabecera ver height*/
  margin: 0;
  text-align: center;
  text-shadow: 0 1px 0 #FFFFFF;
}

#enlaces_pie{width:95%;background:#9eac91;margin:0 auto;clear:both;margin-bottom:10px; height:43px;}
#enlaces_pie h2{ font-size:12px; color:#FFF; text-align:center;}
#enlaces_pie .item{background-color:#DFDFDF;padding:5px;text-align: center;float: left;display: inline-block;
margin-left: 5px;}
#enlaces_pie .enlaces_pie_titulo {width:120px; float:left; background-color:#333;}
#enlaces_pie .enlaces_pie_detalle { float:left; margin-left:10px;margin-top: 7px;}

/* --------------------------------- Fin Clase Presentacion  -----------------*/


/* --------------------------------- Inicio Clase Sección  -----------------*/

/* --------------------------------- Fin Clase Sección  -----------------*/


/* --------------------------------- Inicio Productos -----------------*/
/*utilizado en estilo_pre_01.php  Estilo Sección para Presentación*/
.product_list{border-bottom: solid 1px #ddd;padding: 0px;margin: 20px 0px 40px 0px;}
.product_list a{ color:#000}

.product_item_in_list {float: left;border-top: solid 1px #ddd;background-color: #fff;padding: 0px;margin: 0px;}
.product_item_in_list .item_img {
max-width: 120px;
background-color: #fff;
float: left;
position: relative;
left: 0px;
top: 0px;
}
.product_item_in_list .item_info {padding-left: 120px;}
.product_item_in_list .item_info .prod_np {display: block;float: left;width: 100%;}
.product_item_in_list .item_info .prodprice {float: right;text-align: right;}
.product_item_in_list .item_info .price {font-size: 14px; font-weight: normal;float: right;text-align: right;}
.product_item_in_list .item_info .addCart {
position: relative;
top: 15px;
float: right;
text-align: right;
margin-bottom: -15px;
}
.add-cart-button {
padding: 0;
margin: 0px;
line-height: 22px;
width: 100px;
overflow: hidden;
height: 30px;
margin-left: auto;
margin-right: auto;
}
.add-cart-button .to-cart-but, .add-cart-button .to-cart-butt {
/*font-size: 11px;
font-weight: bold;
color: #fff;
background-image: url(/modulos/imagen/boton-comprar.png) ;
cursor: pointer;
text-align: center;
height: 18px;
padding-left: 15px;
max-width: 70px;
line-height: 15px;
*/
font-size: 11px;
font-weight: bold;
color: #fff;
background-image: url(/modulos/imagen/boton-comprar.png);
cursor: pointer;
text-align: center;
height: 33px;
/* padding-left: 15px; */
width: 110px;
/* line-height: 15px; */
}



.to-cart-but a{ color:#FFF}
.to-cart-but a:hover{ color:#90f405}

.product_item_in_list .item_info .name {
margin-right: 120px;
font-size: 11px;
line-height: 14px;
color: #333;
font-weight: bold;
min-height: 30px;
}
.product_item_in_list .item_info .name a:hover { text-decoration: underline;}
.product_item_in_list .item_info .foot {
float: left;
margin: 4px 0 15px;
width: 75%;
}
.product_item_in_list .item_info .id_weight {
color: #7f7f7f;
margin-bottom: 5px;
margin-top: 9px;
}
.odd{ background-color:#ffffff}
.even{ background-color:#f6f6f6}

/* --------------------------------- Fin Productos -----------------*/

/* --------------------------------- Inicio Pagos -----------------*/
/*metodo_pago01.php*/
.boxin  {
	width:100%;
	box-shadow: #aaa 0 0 10px;
	-webkit-box-shadow: #aaa 0 0 10px;
	-moz-box-shadow: #aaa 0 0 10px;
	border: 1px solid #999;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	background: #fff;	
	text-align: center;
	margin: 0 auto;
	margin-bottom:15px;
	padding-bottom:15px;	
}
.boxin  .header{
	border-radius: 5px 5px 0 0;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	position: relative;
	text-align: center;
	height: 30px;	
	padding: 5px 0px 10px 0px;
}	
.boxin  h1 {clear:both;height:30px;}
.boxin  .ctn_contenidob{ margin-top:20px;}
.boxin  .ctn_contenidob .imagen{ float:left; width:20%;}
.boxin  .contenidob{ float:left; width:75%;}
.boxin  .contenidob .texto{margin:5px; clear:both; }
.boxin  .contenidob .pie{ margin-top:20px; margin-bottom:20px;clear:both; }

/* --------------------------------- Fin Pagos -----------------*/


/********************** Inicio Estilos contenido detalle *******************/
#articulo {
	line-height: 1.4em;
	text-align: justify;
	overflow:hidden;
	margin-bottom:20px;
}
#articulo ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0.3em;
	margin-left: 0em;
	padding: 0px;
}
#articulo li {
	list-style: none;
	background-image: url(/imagen/flechita-2.gif);
	background-repeat: no-repeat;
	background-position: 0.4em 0.3em;
	padding-right: 0;
	padding-bottom: 0.3em;
	padding-left: 1.6em;
	padding-top: 0em;
	margin: 0em;
	}
#articulo .cnt_img_sola{
	margin: 15px auto;
	text-align: center;
	clear: both;
}

#articulo .cont_cabecera{width:100%;margin:0 auto; clear:both; margin-bottom:20px;border-bottom: solid 1px #ddd; border-top:solid 1px #ddd; padding:5px 0px;}
#articulo .imagen_izquierda{ float:left; margin-left:2px; width:30%;border: 1px solid #e9e9e9;}
#articulo .texto_derecha{ float:right;width:68%; background-color:#f6f6f6; padding-right:3px;}	
#articulo .cont_cabecera .precio{ margin-bottom:10px; text-align:right; font-weight:bold;}
#articulo .cont_cabecera .garantia{ margin-bottom:10px;text-align:right; font-weight:bold;}
#articulo .cont_cabecera .lblprecio{ font-weight:bold; color:#6ca336; margin-right:10px;}
#articulo .cont_cabecera .resumen{ text-align:justify; clear:both;}
#articulo .cont_cabecera .ctn_boton_comprar{ float:right; clear:both;margin-bottom: 20px;}
#articulo .cont_cabecera .boton_comprar{
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	background-image: url(/modulos/imagen/carrito.png);
	background-position: 0px 0px;
	cursor: pointer;	
	height: 18px;
	padding-left: 15px;
	width: 70px;
	line-height: 15px;
	text-align:center;
	margin-left:250px;
	margin-right:5px;
}
	
/********************** Fin Estilos contenido detalle *******************/
/*-------Utilizado en  estilo_pre-curso_01.php*/
	.ctn_global{ width:100%; padding:10px 2px;font-size: 12px; margin:0 auto;}
	.ctn_izquierda{float:left;width: 32%;}
	.ctn_derecha{float:left;width: 66%;font-weight:bold;}
	
	.ctn_izq_img_dere{float:left;width: 68%;}
	.ctn_Dere_img_dere{float:right;width: 28%;font-weight:bold; margin-right:3px;}
	
	.izq_inte_50{float:left;width:45%;padding:5px 0px 5px 15px ;text-align:left;}
	.dere_inte_50{float:right;padding:5px 5px;width:45%;text-align:left;}
	.name{text-align:center; color:#003399;font-size: 14px;font-weight: bold;}
	
	.ctn_izq_50{float:left;width: 49%; margin-left:10px;}
	.ctn_dere_50{float:left;width: 49%;}
	
/*-------*/	

.estilo_caja_01 {
    display: inline-block;
	float:left;	 /*importante para que se alinee horizontalmente*/
    word-spacing: normal;
    font-size: 12px;/*u otra unidad para IE8 y -*/
    letter-spacing: normal;
    white-space: normal;
    width: 23%;/*El valor necesario*/
	padding: 5px 1px;
	margin-left: 10px;
	height:35px;
	border: 1px solid #cddced;
	background: #f7f7f7;
	border-radius: 10px;	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	text-align:center;
}
.estilo_caja_01:hover {
	border:2px solid #2caad0;
	color:#7ec900;
}
/*------------Inicio Utilizado en articulo_estilo09.php--------------------------*/
.listado_numeral{
	width: 100%;
	padding: 10px 2px;
	font-weight:bold;
}
.listado_numeral .izq {
	float: left;
	width: 45%;
	margin-left:5%;
}
.listado_numeral .dere {
	float: right;
	width: 45%;
}

.listado_numeral ol {
	color: #ccc;
	list-style-type: none;
}
.listado_numeral ol li {
	position: relative;
	font: bold italic 20px/14px Helvetica, Verdana, sans-serif;
	margin-bottom: 20px;
}
.listado_numeral span {
position: absolute;
}

.listado_numeral li p {
	font: 14px Helvetica, sans-serif;
	padding-left: 55px;
	color: #555;
}
/*----------------- Inicio Contactenos Portada*/
#m_cont_late {
padding: 0;
margin: 0;
height: auto;
width: 200px;
margin-top: -50px;
background: transparent url(/imagen/rec_contacto.gif) no-repeat 100% 0%;
}
/*----------------- Inicio Registrate Portada*/
#m_registrate_late {
padding: 0;
margin: 0;
height: auto;
width: 200px;
margin-top: -50px;
}
#m_registrate_late .tituloreg{padding-left: 20px; padding-top: 6px; color: #fff; text-align:center;}
#boton_css {
	width: 100%;
	height: 30px;
	display: block;
	border: 1px solid #395d9b;
	border-radius: 5px;
	box-shadow: 0 0 0 3px #FFFFFF;
	text-align: center;
	color: #FFF;
	background: #d62020;
	line-height: 30px;
	font-weight: bold;
	font-size: 14px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom:10px;
}
#boton_css:hover{background:#f35454;}
#boton_css a:visited { text-decoration: none;color:#FFF;}
#boton_css a:link {text-decoration: none;color:#FFF;}
#boton_css a {text-decoration: none;color:#FFF;}

/*-------------pie-abajo.php------------------*/
	.cont_pie_gest {width:960px;margin:0 auto;}	
	.cont_pie_gest a:hover {color: #F93;font-weight:bold;font-size:12px;}
	.cont_pie_gest a:visited {text-decoration: none;color: #D6D4D3;}	
	.cont_pie_gest a {text-decoration: none;color: #D6D4D3;}
	.cont_pie_gest .conizq {
		float:left;
		width:300px;
		margin-top: 20px;
		margin-left: 10px;
		text-align:center;
		color: #FFF;					
	}
	.cont_pie_gest .conizq p {line-height:30px;}
	.cont_pie_gest .conizq .titupie{font-style: italic; font-weight: bold;
	 font-family: 'Times New Roman'; font-size: 24px; }
		
	.cont_pie_gest .condere {
		float:right;
		margin-left:10px; 
		width:520px;
		color:#FFF;		
	}		
	.cont_pie_gest .menuabajo {
	width:420px;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:10px;
	margin-left: 30px;
	clear:both;
	}
	.cont_pie_gest  .direccion {
	width:520px;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:10px;
	clear:both;
	text-align:center;
	
	}
	.cont_pie_gest  .contacto {
	width:450px;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:10px;
	clear:both;
	text-align:center;
	letter-spacing:1px;
	}

	.cont_contycopry{
		clear:both;		
		font-family: 'Lato', sans-serif;
		font-size:13px;
		width:500px;	
		float: right;	 
		margin:0 auto;
		margin-bottom:10px;		
	}	
	
	.Copyright{	/*float:left;*/	text-align:center;}
	
/*------- fecha-noticia.php --------------- */	
	.ctn_fecha{width: 100%;clear: both;text-align: right; font-weight:bold; margin-top:20px;}
	.ctn_fecha .fecha{ color:#26661e;}
/*------- fecha-noticia.php --------------- */	

/*------- hay seccion aviso-logueado --------------- */	
.ctn_aviso_logueado{
		margin-top: 1px;
		padding: 5px 5px;
		border: 1px solid transparent;
		border-radius: 2px;
		font-size: 14px;
		background-color: #faf8e8;
		/* border-color: #f3eab2; */
		border-color: #9eac91;
		color: #333333;
}
/*------- hay seccion aviso-logueado --------------- */	



/*------- Inicio hay seccion iniciarsesion Modulo : form-iniciar-sesion.php --------------- */	
#submit
{     
    background-color: #d62020;
/*    background-color: #ffb94b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
    background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: linear-gradient(top, #fddb6f, #ffb94b);
*/    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    
	box-shadow: 0 0 0 3px #FFFFFF;
    /* -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;*/
    /* box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    */
    
   /* border-width: 1px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;*/
	border: 1px solid #395d9b;
	
    float: left;
    height: 35px;
    padding: 0;
    width: 120px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    /*color: #8f5a0a;*/
	color: #FFF;
}
#submit:hover{background:#f35454;}
#submit a:visited { text-decoration: none;color:#FFF;}
#submit a:link {text-decoration: none;color:#FFF;}
#submit a {text-decoration: none;color:#FFF;}

/*#submit:hover,#submit:focus
{		
    background-color: #fddb6f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
    background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: linear-gradient(top, #ffb94b, #fddb6f);
}	

#submit:active
{		
    outline: none;
   
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}*/

#submit::-moz-focus-inner
{
  border: none;
}

/*------- Fin hay seccion iniciarsesion Modulo : form-iniciar-sesion.php --------------- */	

.style129 {
font-size: 14px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
color: #FF0000;
}
.style24 {
color: #0000FF;
font-weight: bold;
}
.style125Azul {
font-size: 16px;
font-weight: bold;
color: #0000DB;
}